.balance {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  max-height: 25vh;
  overflow-y: auto;
}

.balance > div {
  display: flex;
  justify-content: space-between;
}

.balance > div > span:first-child {
  font-weight: bold;
}
