:root {
  --primary-color: rgb(143, 95, 192);
  --secondary-color: rgb(121, 10, 233);
  --background-color: #262626;
  --gradient-background: linear-gradient(
    to top,
    #505285 0%,
    #585e92 12%,
    #65689f 25%,
    #7474b0 37%,
    #7e7ebb 50%,
    #8389c7 62%,
    #9795d4 75%,
    #a2a1dc 87%,
    #b5aee4 100%
  );
  --header-background-color: #424242;
  --disabled-color: #928d8d;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: calc(14px + (28 - 14) * ((100vw - 320px) / (3840 - 320)));
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-image: var(--gradient-background);
}

ul {
  list-style: none;
}

.default-section {
  border-radius: 0.5rem;
  background-color: var(--background-color);
}

.App {
  padding: 0.5rem 1rem;
  height: calc(100vh - 36px);
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.list-grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.container {
  display: grid;
  grid-gap: 16px;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

.col-offset-1 {
  grid-column-start: 2;
}
.col-offset-2 {
  grid-column-start: 3;
}
.col-offset-3 {
  grid-column-start: 4;
}
.col-offset-4 {
  grid-column-start: 5;
}
.col-offset-5 {
  grid-column-start: 6;
}
.col-offset-6 {
  grid-column-start: 7;
}
.col-offset-7 {
  grid-column-start: 8;
}
.col-offset-8 {
  grid-column-start: 9;
}
.col-offset-9 {
  grid-column-start: 10;
}
.col-offset-10 {
  grid-column-start: 11;
}
.col-offset-11 {
  grid-column-start: 12;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 0.5rem;
}
