:root {
  --primary-color: #03a9f4;
  --secondary-color: #ff9800;
  --background-color: #262626;
  --header-background-color: #424242;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: calc(14px + (28 - 14) * ((100vw - 320px) / (3840 - 320)));
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
  color: #fff;
}

.App {
  height: 90vh;
  display: grid;
  text-align: center;
}
